fastapi
uvicorn[standard]
python-multipart
jinja2
pydantic
python-dotenv

langgraph
langchain
langchain-core
langchain-openai
langchain-chroma
chromadb

PyMuPDF
pdfplumber
pillow
numpy
pytesseract

arxiv